---
---

@import "{{ site.theme }}";

.post-meta {
  a:link, a:visited, a:hover, a:active {
    color: $grey-color;
  }
}

.post-list {
  a:link, a:visited, a:hover, a:active {
    color: $grey-color-dark;
  }

  h3 {
    margin-bottom: 0;
  }

  li {
    margin-bottom: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: $grey-color-light;
  }
}

.post-list-narrow {
  li {
    margin-bottom: 0;
  }
}

.site-header a:hover {
  text-decoration: none;
}

.rss-subscribe {
  a:link, a:visited, a:hover, a:active {
    color: $grey-color-dark;
  }
}

.line-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $grey-color-light;
}

.page-content {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: auto;
}

.post-list-item {
  display: flex;

  @include media-query($on-laptop) {
    flex-direction: row;
  }

  @include media-query($on-palm) {
    flex-direction: column;
  }
}

.post-list-img {
  margin: 1px 10px 0 0;
  width: 25%;
  height: 100px;
  object-fit: cover;
  img {
    width: 100%;
  }

  @include media-query($on-laptop) {
    width: 25%;
  }

  @include media-query($on-palm) {
    width: 100%;
  }
}

.post-list-text {
  width: 75%;

  @include media-query($on-laptop) {
    width: 75%;
  }

  @include media-query($on-palm) {
    width: 100%;
  }
}

.post-title-img {
  padding-bottom: $spacing-unit / 2;
  img {
    width: 100%;
    max-height: $content-width / 3;
    object-fit: cover;
    display: block;
    margin: auto;
  }
}

.about-wrapper {
  display: flex;
  flex-flow: row-reverse nowrap;

  img {
    width: 50%;
    height: auto;
    margin: $spacing-unit / 2;
  }

  @include media-query($on-laptop) {
    flex-flow: row-reverse nowrap;

    img {
      width: 50%;
      margin: 0 ($spacing-unit / 2);
    }
  }

  @include media-query($on-palm) {
    flex-flow: column wrap;

    img {
      width: 100%;
      margin: 0 0 ($spacing-unit / 2) 0;
    }
  }
}

.post-content {
  figure {
    text-align: center;
    div {
      display: flex;
      justify-content: center;

      img {
        max-width: 50%;
        @include media-query($on-laptop) {
          max-width: 50%;
        }
        @include media-query($on-palm) {
          max-width: 100%;
        }
      }
    }
  }
}

.post-toc {
  border-top: dotted thin;
  border-bottom: dotted thin;
  border-color: $grey-color-light;
  margin-bottom: $spacing-unit;
  h4 {
    margin-bottom: 0;
  }
  ul {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
