---
---

@import "{{ site.theme }}";

.post-meta {
  a:link, a:visited, a:hover, a:active {
    color: $grey-color;
  }
}

.post-list {
  a:link, a:visited, a:hover, a:active {
    color: $grey-color-dark;
  }
}

.site-header a:hover {
  text-decoration: none;
}

.rss-subscribe {
  a:link, a:visited, a:hover, a:active {
    color: $grey-color-dark;
  }
}

.line-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $grey-color-light;
}
